html, body{
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

.App {
  text-align: center;
  margin: 10;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.container{
  width: 100%;
  height: 100vh;
}
#list{
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow-y:scroll;
}
#writepad{
  background-color: rgb(238,237,219);
  height: 100vh;
}
#date{
  color: rgb(63,43,37);
  text-align: center;
  width: 100%;
  padding-top: 10px;
}
#textarea{
  background-color: rgb(238,237,219);
  border: 0px;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  height: 90vh;
  resize: none;
}

.listItem{
  position: relative;
  display: block;
  padding: 5px 10px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.listItem-text{
  text-align: right;
  font-size: 12px;
  margin-bottom: 0px;
}
.listItem-heading{
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;

}
.col-md-4{
  padding: 0;
}
